@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .textFormattingButton {
        @apply text-[#a5a9af] duration-300 hover:text-white;
    }
}

body {
    font-family: "Inter", sans-serif;
    /* font-family: "Caveat", cursive; */
    background-color: #121212;
}

svg {
    outline: none;
}


/* Animação do cursor */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.text-typing {
    display: inline-block;
    position: relative;

    &::after {
        content: '|';
        position: absolute;
        top: 0;
        right: -5px;
        animation: blink 1s infinite;
        opacity: 1;
        color: white;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 1px;
        height: 1px;
    }
}


/* Tippy.js */

.tippy-box[data-theme~='textFormattingButtonTippy'] {
    background-color: #374151;
    padding: 5px;
    font-size: 16px;
}

.tippy-box[data-theme~='textFormattingButtonTippy'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #374151;
}